/* initial css : reset the box sizing for the site*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    /*remove margins for h, and p*/
    margin: 0;
}


/* styling the site */

section {
    padding: 7em 0;
}

.container {
    width: 85%;
    /*we can also use padding for this*/
    max-width: 65em;
    /*ie 65X16 = 1040px*/
    margin: 0 auto;
    //padding: .5em 1.25em;
}

.split {
    display: flex;
    /* make it display horizontal */
    gap: 1em;
    flex-wrap: wrap;
    /* wrap it vertical for small space, avoiding media query in sass  */
    /* all direct children of split : we are using div and everything takes 100% by default so make it 30% using SASS */
    /* sass not working yet, needs set up  */
    justify-content: center;
    &>* {
        flex-basis: 30%;
        min-width: 15em;
    }
}


/* above sass not working so I'm using css media query */


/*css for above; all direct children of split should   */

// .split {
//     display: flex;
//     flex-direction: column;
// }

/* .split>* {
    flex-basis: 30%;
} */


/* normal css for  the above */


/* this adds a top margin to any item that has a sibbling before it uniformly. will default to 2rem if it doesn't work */

.spacing>*+* {
    margin-top: var(--spacer, 2rem);
}

.btn {
    display: inline-block;
    /* using inline-block so it doesn't overlap other text */
    text-decoration: none;
    color: var(--clr-text, white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25em;
    padding: .5em 1.25em;
    background: var(--clr-accent, blue);
    border-radius: .25em;
    transition: transform 250ms ease-in-out, opacity 250ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.primary-title {
    font-size: 4rem;
    /*default to this if clapm is not supported*/
    font-size: clamp(3rem, calc(5vw +1rem), 4.5rem);
    /* min font-size 3rem, max: 4.5rem, grows by 1rem per 5vw*/
    line-height: 1;
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw +1rem), 4rem);
    line-height: 1;
    color: #17353d;
    margin-bottom: 5rem;
}

.hero {
    color: white;
    text-align: center;
    padding: 15em 0;
    background: #222;
    /* @support not working so I added these to get same effect */
    //background-image: url(../img/shoe-6.png), radial-gradient(#444, #111);
    // background-size: 10%;
    /*this makes the bgrd img in to multiple */
    /* supports is a features query
    if the browser knows @supports it will render otherwise it will 
    render the things outside the @supports */
    @supports (background-blend-mode: multiply) {
        background: url(../img/shoe-6.png), radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}


/* if not using sass, will use this for css*/


/* @supports (property: value) {
    .hero {}
} */

// split styles the block layout, now let's style the individual items in split
.featured {
    // sass nested elem
    &__item {
        display: block;
        position: relative;
        transform: scale(.85);
        transition: transform 250ms ease-in-out;
        text-decoration: none;
        color: #333;
        text-align: center;
        line-height: 1.2;
        &:hover,
        &:focus {
            transform: scale(1);
            .featured__details {
                opacity: 1;
                text-shadow: 0 0 2em rgba(#fff, 1);
            }
        }
        //use pseudo elements to add circles under the shoes
        &::after {
            content: '';
            top: 10%;
            left: 10%;
            position: absolute;
            padding: 75% 75% 0 0; //100% of the width of the parent
            border-radius: 50%;
            background: #2193b0;
            z-index: -1;
        }
    }
    &__details {
        opacity: 0;
        transition: opacity 250ms linear;
        //style the price
        span {
            display: block;
            font-weight: 700;
            font-size: 2.5rem;
        }
    }
}

// style the products
.product {
    background: radial-gradient( var(--clr-inner, limegreen), var(--clr-outer, purple));
    //this is a kind of default background
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 5em;
    text-align: center;
    &__title {
        font-size: 4rem;
        line-height: 1.1;
        color: #fff;
        text-shadow: 0 0 .2em rgba(#000, .2);
    }
    &__image {
        margin: -5em 0 0 0; // this makes our shoe stick out a little
    }
}

//update the custom color properties. 
//They can be placed anywhere in the code
.hero {
    --clr-accent: #faa700;
}

//def and update the custom background for the shoes. We currently using the default
.shoe-red {
    --clr-inner: #faa700;
    --clr-outer: #e48d00;
    --clr-accent: #a1173c;
}

.shoe-white {
    --clr-inner: #fce4b3;
    --clr-outer: #eac886;
    --clr-accent: #2f4858;
}

.shoe-blue {
    --clr-inner: #6dd5ed;
    --clr-outer: #2193b0;
    --clr-accent: #008951;
}